
.work {


	.row-1 {
		// height: 450px;
		
		@media screen and (min-width: $desktop-bp) {
			height: 550px;
		}

		.disco {
			height: 50vh;
			background-image: url(../../src/img/home-casper.jpg);
			background-size: cover;
			background-position: bottom;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			a {
				height: 100%;
				width: 100%;
			}

			.disco__text {
				font-family: $base-font;
			    padding-bottom: 10px;
			    max-width: 370px;
			    padding-left: 10px;
			    color: white;

			    @media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}


			    h1 {
					font-size: $h1-size;
			    	font-weight: bold;
			    }
			}
		}

		.beach {
			height: 50vh;
			background-image: url(../../src/img/home-allbirds.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			align-items: flex-end;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}

			.beach__text {
				font-family: $base-font;
			    padding-bottom: 10px;
			    max-width: 370px;
			    padding-left: 10px;
			    color: white;

			    @media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

			    h1 {
					font-size: $h1-size;
			    	font-weight: bold;
			    }
			}
		}
	}

	.row-2 {

		height: 450px;

		@media screen and (min-width: $desktop-bp) {
			height: 550px;
		}

		.finger {
			height: 50vh;
			background-image: url(../../src/img/gloves.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			display: flex;
			align-items: flex-end;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}

			.finger__text {
				font-family: $base-font;
			    padding-bottom: 10px;
			    max-width: 370px;
			    padding-left: 10px;
			    color: white;

			    @media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

			    h1 {
					font-size: $h1-size;
			    	font-weight: bold;
			    }
			}
		}

		.bowery {
			height: 50vh;
			background-image: url(../../src/img/Bowery_Lettuce.jpg);
			background-size: cover;
			background-position: bottom;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}

			.bowery__text {
				font-family: $base-font;
			    padding-bottom: 10px;
			    max-width: 370px;
			    padding-left: 10px;
			    color: white;

			    @media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}


			    h1 {
					font-size: $h1-size;
			    	font-weight: bold;
			    }
			}
		}
	}

	.row-3 {
		height: 450px;

		@media screen and (min-width: $desktop-bp) {
			height: 550px;
		}

		.hinge {
			height: 50vh;
			background-image: url(../../src/img/hinge-casestudy-01.jpg);
			background-size: cover;
			background-position: center center;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			.hinge__text {
				font-family: $base-font;
				padding-bottom: 10px;
				max-width: 370px;
				padding-left: 10px;
				color: white;

				@media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

				h1 {
					font-size: $h1-size;
					font-weight: bold;
				}
			}
		}

		.goby {
			height: 50vh;
			background-image: url(../../src/img/goby-casestudy-01-crop-normal.jpg);
			background-size: cover;
			background-position: center center;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			.goby__text {
				font-family: $base-font;
				padding-bottom: 10px;
				max-width: 370px;
				padding-left: 10px;
				color: white;

				@media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

				h1 {
					font-size: $h1-size;
					font-weight: bold;
				}
			}
		}
	}

	.row-4 {
		height: 450px;

		@media screen and (min-width: $desktop-bp) {
			height: 550px;
		}

		.zagat {
			height: 50vh;
			background-image: url(../../src/img/Zagat_Homepage.jpg);
			background-size: cover;
			background-position: left top;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}

			.zagat__text {
				font-family: $base-font;
			    padding-bottom: 10px;
			    max-width: 370px;
			    padding-left: 10px;
			    color: white;

			    @media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}


			    h1 {
					font-size: $h1-size;
			    	font-weight: bold;
			    }
			}
		}

		.bolt {
			height: 50vh;
			background-image: url(../../src/img/bolt-test-scene_2a.353.jpg);
			background-size: cover;
			background-position: center center;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			.bolt__text {
				font-family: $base-font;
				padding-bottom: 10px;
				max-width: 370px;
				padding-left: 10px;
				color: white;

				@media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

				h1 {
					font-size: $h1-size;
					font-weight: bold;
				}
			}
		}	
	}

	.row-5 {
		height: 450px;

		@media screen and (min-width: $desktop-bp) {
			height: 550px;
		}

		.ge {
			height: 50vh;
			background-image: url(../../src/img/GE_thumb.jpg);
			background-size: cover;
			background-position: center center;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			.ge__text {
				font-family: $base-font;
				padding-bottom: 10px;
				max-width: 370px;
				padding-left: 10px;
				color: white;

				@media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

				h1 {
					font-size: $h1-size;
					font-weight: bold;
				}
			}
		}

		.four-square {
			height: 50vh;
			background-image: url(../../src/img/home-foursquare.jpg);
			background-size: cover;
			background-position: bottom;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}

			.four-square__text {
				font-family: $base-font;
			    padding-bottom: 10px;
			    max-width: 370px;
			    padding-left: 10px;
			    color: white;

			    @media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}


			    h1 {
					font-size: $h1-size;
			    	font-weight: bold;
			    }
			}
		}
	}

	.row-6 {
		height: 450px;

		@media screen and (min-width: $desktop-bp) {
			height: 550px;
		}

		.vevo {
			height: 50vh;
			background-image: url(../../src/img/thumb-vevo.jpg);
			background-size: cover;
			background-position: center center;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			.vevo__text {
				font-family: $base-font;
				padding-bottom: 10px;
				max-width: 370px;
				padding-left: 10px;
				color: white;

				@media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

				h1 {
					font-size: $h1-size;
					font-weight: bold;
				}
			}
		}

		.aloha {
			height: 50vh;
			background-image: url(../../src/img/aloha.jpg);
			background-size: cover;
			background-position: center center;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			.aloha__text {
				font-family: $base-font;
				padding-bottom: 10px;
				max-width: 370px;
				padding-left: 10px;
				color: white;

				@media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

				h1 {
					font-size: $h1-size;
					font-weight: bold;
				}
			}
		}
	}

	.row-7 {
		height: 450px;

		@media screen and (min-width: $desktop-bp) {
			height: 550px;
		}

		.snowe {
			height: 50vh;
			background-image: url(../../src/img/home-snowe.jpg);
			background-size: cover;
			background-position: center center;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			.snowe__text {
				font-family: $base-font;
				padding-bottom: 10px;
				max-width: 370px;
				padding-left: 10px;
				color: white;

				@media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

				h1 {
					font-size: $h1-size;
					font-weight: bold;
				}
			}
		}

		.sugarpova {
			height: 50vh;
			background-image: url(../../src/img/thumb-sugarpova.jpg);
			background-size: cover;
			background-position: center center;
			display: flex;
			align-items: flex-end;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				height: 100%;
			}
			
			.sugarpova__text {
				font-family: $base-font;
				padding-bottom: 10px;
				max-width: 370px;
				padding-left: 10px;
				color: white;

				@media screen and (min-width: $tablet-bp) {
					padding-bottom: 40px;
					padding-left: 40px;
				}

				h1 {
					font-size: $h1-size;
					font-weight: bold;
				}
			}
		}
	}

}



